body 
{
    overflow-x: hidden;
}
.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #111; /* Background color for the hero section */
    color: #fff; /* Text color */
}

.image-section {
    background-color: #f4c10f; /* Yellow background for the image section */
   /* Add padding around the image */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    min-height: 100vh; /* Make sure it takes full height */
    margin: 0;
    padding: 0;
    width: 100vw;
}

.enlarged-image {
    width: 100%; /* Full width of its container */
    max-width: 450px; /* Limit max width to make it larger but not too big */
    border-radius: 10px; /* Optional: rounding the corners */
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #f4c10f; /* Yellow color for the headline */
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 40px;
}
.btn-custom {
    position: relative;
    top: 50px;
    left: -80%;
    background-color: transparent; /* Bright yellow color */
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid #FFC300; /* Add a border */
    transition: background-color 0.3s ease;
    cursor: pointer;
    z-index: 10;
  }
  .btn-custom > span
  {
    font-size: 1.2em;
  }
  .btn-custom:hover {
    background-color: #FFD700; /* Slight hover effect */
  }
  
  .arrow-right {
    font-size: 16px;
    border-radius: 50%;
    background: #f4c10f;

  }
  
  .blobImage
  {
    position: absolute;
    background: #FFC300;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 33% 0, 76% 100%, 0% 100%);
    z-index: 1;
  }

  .image-container{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%) scale(1.2);
    border-radius: 10px;
    
  }
  .image-container img 
  {
    border-radius: 10px;
    box-shadow: 0 0 40px #000;
  }

.NameDesc
{
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    width: 80%;
    color: #fff;
    text-align: left;
}

.mainDesc
{
    position: relative;
    left: 10%;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    color: #fff;
    text-align: left;
}

.yellow-line
{
    position: absolute;
    left: 42%;
    background-color: #FFC300;
    height: 5px;
    width: 5%;
    margin-top: 20px;
    border-radius: 2px;
}
.main
{
    position: absolute;
    top: 25%;
    left: 8%;
    transform: translateY(-50%);
    width: 80%;
    font-size: 4em;
}